@model MT.AzureStorageLib.Entities.UserPicture
<h2>Add Person</h2>
<form class="form-inline" asp-action="@(ViewBag.IsUpdate ? "Update" : "Create")" method="post" enctype="application/x-www-form-urlencoded">

    <input class="form-control mr-1" asp-for="RowKey" placeholder="User Id" />
    <input class="form-control mr-1" asp-for="PartitionKey" placeholder="City" />
    <input class="form-control mr-1" asp-for="Name" placeholder="Name" />


    <input type="hidden" asp-for="ETag" />
    <hr/>
    <input class=" btn btn-primary mt-2 mb-2" type="submit" value="@(ViewBag.IsUpdate ? "Person Update" : "Person Save")" />
</form>

<h2>People</h2>
<hr />
<form class="form-inline mb-2" asp-action="Query" method="Get">

    <input class="form-control mr-2 mt-3" name="name" />
    <input type="submit" class="btn btn-secondary mt-2" value="Query" />
</form>
<table class="table table-bordered">
    <tr>
        <th>User Id</th>
        <th>City</th>
        <th>Name</th>
        <th>writing Paths</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in ViewBag.people as List<MT.AzureStorageLib.Entities.UserPicture>)
    {
        <tr>
            <td>@item.RowKey</td>
            <td>@item.PartitionKey</td>
            <td>@item.Name</td>
            <td>@item.WritingRawPaths</td>

            <td>
                <a class="btn btn-success mr-1 btn-sm" asp-action="Update" asp-controller="TableStorages" asp-route-rowKey="@item.RowKey" asp-route-partitionKey="@item.PartitionKey">Update</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="TableStorages" asp-route-rowKey="@item.RowKey" asp-route-partitionKey="@item.PartitionKey">Delete</a>
            </td>
        </tr>

    }
</table>

